<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
	<Properties>
		<Property name="LogPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] | %c{1} | %msg%n%ex</Property>
	</Properties>

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LogPattern}"/>
		</Console>
		<RollingRandomAccessFile name="RollingFileAppender" fileName="./logs/application.log" filePattern="./logs/$${date:yyyy-MM}/application-%d{ddMMyyyy}-%i.log.gz">
			<PatternLayout pattern="${LogPattern}"/>
			<Policies>
				<!-- rollover on startup, daily, and when the file reaches 10mb -->
				<OnStartupTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
				<TimeBasedTriggeringPolicy/>
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<Logger name="org.pdbcorp.eap.uni" level="trace" additivity="false">
			<AppenderRef ref="RollingFileAppender"/>
		</Logger>
		<Root level="info">
			<AppenderRef ref="ConsoleAppender"/>
		</Root>
	</Loggers>
</Configuration>